<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="testng.Test2"/>
      <class name="testng.Test1"/>
      <class name="testng.SnapDeal"/>
      <class name="testng.Home_loan"/>
      <class name="testng.Car_loan"/>
      <class name="testng.Flipkart"/>
      <class name="testng.Personal_loan"/>
      <class name="testng.Test3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
